{% extends 'storage_module/base_storage.html' %}
{% load storage_module_extras %}
{% load widget_tweaks %}

{% block extra_script %}
    <script>
        $(document).ready(function () {

            $('.dropdown-item').click(function (event) {
                event.preventDefault();
                $('#selected-action').val($(this).attr('value'));
                $('#bulk-actions-form').submit();
            });

            $('#bulk-actions-form').submit(function (event) {
                const selectedSamples = $('input[type="checkbox"][name="sample_ids"]:checked');
                if (selectedSamples.length === 0) {
                    alert("Please select at least one sample");
                    event.preventDefault(); // Stops the form submission
                }
            });

            $('#select-all').change(function () {
                $('input[type="checkbox"][name="sample_ids"]').prop('checked', $(this).is(':checked'));
            });

            $('input[type="checkbox"][name="sample_ids"]').change(function () {
                if (!$(this).is(':checked')) {
                    $('#select-all').prop('checked', false);
                }
            });

            $('a[data-bs-toggle="offcanvas"]').on('click', function (event) {
                event.preventDefault();
                var sampleIdContent = $(this).text();
                var sampleId = sampleIdContent.trim();

                $.get('/get_sample_details/' + sampleId, function (data) {
                    $('#sampleDetailsBody').empty();

                    var newDetailsContent = `
                        <aside class="col-lg-3">
                            <div class="sidebar">
                                <div class="card mb-4">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h2 class="card-title">${data.sample_id}'s Information</h2>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"><strong>Type:</strong> ${data.sample_type}</li>
                                                <li class="list-group-item"><strong>Source File:</strong> ${data.source_file}</li>
                                                <li class="list-group-item"><strong>Time Sampled:</strong> ${data.time_sampled}</li>
                                                <li class="list-group-item"><strong>Condition:</strong> ${data.sample_condition}</li>
                                                <li class="list-group-item"><strong>Created By:</strong> ${data.user_created}</li>
                                                <li class="list-group-item"><strong>Participant ID:</strong> ${data.participant_id}</li>
                                                <li class="list-group-item"><strong>Gender:</strong> ${data.gender}</li>
                                                <li class="list-group-item"><strong>Date of Birth:</strong> ${data.date_of_birth}</li>
                                                <li class="list-group-item"><strong>Date Sampled:</strong> ${data.date_sampled}</li>
                                                <li class="list-group-item"><strong>Requisition ID:</strong> ${data.requisition_id}</li>
                                                <li class="list-group-item"><strong>Protocol Number:</strong> ${data.protocol_number}</li>
                                                <li class="list-group-item"><strong>Status:</strong> <span class="badge badge-pill badge-warning bg-warning">${data.sample_status}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add More Divs as needed -->
                                <!-- Actions and Notes -->
                                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
                                    <button type="button" class="btn btn-success">Share</button>
                                    <button type="button" class="btn btn-warning">Export</button>
                                    <a href="/move_samples/?sample_ids=${data.sample_id}" class="btn btn-primary" role="button">
                                        Move Sample
                                    </a>
                                </div>
                            </div>
                        </aside>
                    `;
                    // Append the new details to the DOM
                    $('#sampleDetailsBody').append(newDetailsContent);
                });
            });

            $('body').on('change', '#id_facility', function () {
                var facilityId = $(this).val();

                $.ajax({
                    url: "/get_freezers/",
                    data: {
                        'facility_id': facilityId
                    },
                    success: function (data) {
                        var select = $('#id_freezer');
                        select.empty();
                        $.each(data, function (key, value) {
                            select.append($('<option></option>').attr('value', value.id).text(value.freezer_name));
                        });
                    }
                });
            });

            $('body').on('change', '#id_freezer', function () {
                var freezerId = $(this).val();
                $.ajax({
                    url: "/get_shelves/",
                    data: {
                        'freezer_id': freezerId
                    },
                    success: function (data) {
                        var select = $('#id_shelf');
                        select.empty();
                        $.each(data, function (key, value) {
                            select.append($('<option></option>').attr('value', value.id).text(value.shelf_name));
                        });
                    }
                });

                $.ajax({
                    url: "/get_racks/",
                    data: {
                        'freezer_id': freezerId
                    },
                    success: function (data) {
                        var select = $('#id_rack');
                        select.empty();
                        $.each(data, function (key, value) {
                            select.append($('<option></option>').attr('value', value.id).text(value.rack_name));
                        });
                    }
                });
            });
            $('.select2').select2();

            $('#scanBarcodeModal').on('shown.bs.modal', function () {
                $('#scannedBarcode').on('change', function () {
                    $('#scanBarcodeForm').submit()
                })
            })
            $('#scanBarcodeModal').on('shown.bs.modal', function () {
                $('#scannedBarcode').on('change', function () {
                    $('#scanBarcodeForm').submit()
                });

                $('#scanBarcodeForm').submit(function (e) {
                    e.preventDefault();
                    let barcode = document.getElementById('scannedBarcode').value;
                    fetch('/api/check_barcode/', {
                        method: 'POST',
                        body: JSON.stringify({'barcode': barcode}),
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.valid) {
                                this.submit();
                            } else {
                                document.getElementById('barcodeError').style.display = 'block';
                            }
                        });
                });
            });
            $('body').on('click', '.fa-plus', function (event) {
                var elem = $(this).closest('.card.bg-light');
                var x = elem.data('x');
                var y = elem.data('y');

                var box_name = '{{ box.box_name }}';

                x = x - 1;


                const barcode = prompt('Please scan the barcode');

                // Fetch current position
                fetch(`/get-sample-position/?barcode=${barcode}`).then(response => response.json())
                    .then(position => {
                        if (position.success) {
                            const message = `Sample ${barcode} is being moved from box ${position.box}, x = ${position.x + 1}, y = ${position.y} to box ${box_name}, x = ${x + 1}, y=${y} .\n\nDo you want to proceed?`;

                            if (window.confirm(message)) {
                                let data = {
                                    'scannedBarcode': barcode,
                                    'box_id': '{{ box.box_name }}',
                                    'x': x,
                                    'y': y,
                                };

                                // Proceed to move the sample only if user allows
                                fetch('/add-sample/', {
                                    method: 'POST',
                                    body: JSON.stringify(data),
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-CSRFToken': '{{ csrf_token }}'
                                    }
                                }).then(response => response.json())
                                    .then(response => {
                                        if (response.success) {
                                            alert("Sample moved successfully");
                                            location.reload();
                                        } else {
                                            alert("Failed to move sample: " + response.error);
                                        }
                                    }).catch((error) => {
                                    console.error("Error:", error);
                                });
                            }
                        } else {
                            alert("Failed to fetch sample position: " + position.error);
                        }
                    }).catch(error => console.error("Error:", error));
            });
            $('#toggle-switch').change(function () {
                if (this.checked) {
                    $('#table-container').hide();
                    $('#cards-container').show();
                } else {
                    $('#cards-container').hide();
                    $('#table-container').show();
                }
            }).change();

        });
    </script>

    <style>
        .select2-container--default .select2-selection--single {
            width: 465px !important; /* Set the width to your preference */
        }

        .container {
            margin-left: 10rem;
            min-height: 100vh;
            margin: 0;
        }

        .modal-dialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) !important;
        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
    </style>
{% endblock %}

{% block hierarchy %}
    {% if box.location.facility %}
        <a href="{% url 'facility_detail' box.location.facility.id %}"
           class="breadcrumb-item">
            <i class="fas fa-warehouse"></i>
            {{ box.location.facility.facility_name }}
            (Facility)
        </a>
    {% endif %}
    {% if box.location.freezer %}
        <a href="{% url 'freezer_detail' box.location.freezer.id %}"
           class="breadcrumb-item">
            <i class="fas fa-snowflake"></i>{{ box.location.freezer.freezer_name }}
            (Freezer)
        </a>
    {% endif %}
    {% if box.location.shelf %}
        <i class="fas fa-layer-group"></i>
        <a href="{% url 'shelf_detail' box.location.shelf.id %}" class="breadcrumb-item">
            <i class="fas fa-layer-group"></i>{{ box.location.shelf.shelf_name }}
            (Shelf)
        </a>
    {% endif %}
    {% if box.location.rack %}
        <a href="{% url 'rack_detail' box.location.rack.id %}" class="breadcrumb-item">
            <i class="fas fa-box-open"></i>{{ box.location.rack.rack_name }}
            (Rack)
        </a>
    {% endif %}

    <span class="breadcrumb-item active">
        <i class="fas fa-cube"></i> {{ box.box_name }}
    (Box)
    </span>
{% endblock %}

{% block storage_view %}
    <div class="d-flex flex-row">
        <i class="fas fa-cube"
           style="font-size: 5rem;"></i>
        <div class="d-flex flex-column" style="margin-left: 10px">
            <span style="font-size: 1.5rem;">{{ box.box_name }}</span>
            <span style="font-size: 1rem;">Storage View</span>
        </div>
    </div>
{% endblock %}
{% block status %}
{% endblock %}

{% block page_content %}
    <div class="row">
        <form id="bulk-actions-form" method="post">
            {% csrf_token %}
            <input type="hidden" id="selected-action" name="action">
            <div class="d-flex flex-row align-items-center">
                <div class="d-flex m-1">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#moveBoxModal">
                        Move Box
                    </button>
                </div>
                <button type="button" class="btn btn-primary" id="scanBarcodeModal">
                    Move Samples
                </button>
                <div class="d-flex m-1">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button"
                            id="bulk-actions-dropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            style="height: 2.5rem">
                        ---Other Action---
                    </button>
                    <div class="dropdown-menu" aria-labelledby="bulk-actions-dropdown">
                        <button class="dropdown-item" type="button" value="export">Export
                        </button>
                        {% for status in sample_statuses %}
                            {% if not status.name == 'In Storage' %}
                                <button class="dropdown-item" type="button"
                                        value="{{ status.id }}">
                                    {{ status.name }}
                                </button>
                            {% endif %}
                        {% endfor %}
                        <button class="dropdown-item" type="button" value="print">Printing
                            Barcodes or Labels
                        </button>
                    </div>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="toggle-switch">
                    <label class="form-check-label" for="toggle-switch">Show Box
                        View</label>
                </div>
            </div>
            <div id="table-container" class="table-responsive">
                {{ tableHTML|safe }}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if positions.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ positions.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"
                                   aria-disabled="true">&laquo;&laquo;</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"
                                   aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}

                        <li class="page-item active">
                            <a class="page-link" href="#">
                                {{ positions.number }}
                                of {{ positions.paginator.num_pages }} <span
                                    class="sr-only">(current)</span>
                            </a>
                        </li>

                        {% if positions.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ positions.next_page_number }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ positions.paginator.num_pages }}"
                                   aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"
                                   aria-disabled="true">&raquo;</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"
                                   aria-disabled="true">&raquo;&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <div id="cards-container" class="row">
                {{ boxHTML|safe }}
                <div class="col-lg-3" id="sampleDetailsBody"></div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="moveBoxModal" tabindex="-1"
         aria-labelledby="moveBoxModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form method="POST">
                {% csrf_token %}
                <div class="modal-content rounded" style="width: 50rem">
                    <div class="modal-header">
                        <h5 class="modal-title" id="moveBoxModalLabel">Move Box</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ move_box_form.facility.label_tag }}
                            {{ move_box_form.facility|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ move_box_form.freezer.label_tag }}
                            {{ move_box_form.freezer|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ move_box_form.shelf.label_tag }}
                            {{ move_box_form.shelf|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ move_box_form.rack.label_tag }}
                            {{ move_box_form.rack|add_class:"form-control" }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-primary">Move</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="scanBarcodeModal" tabindex="-1"
         aria-labelledby="scanBarcodeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scanBarcodeModalLabel">Scan Barcode</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="scanBarcodeForm" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="scannedBarcode" class="form-label">Scan or enter
                                barcode</label>
                            <input type="text" class="form-control" id="scannedBarcode"
                                   name="scannedBarcode" autofocus>
                            <div id="barcodeError" style="display: none; color: red;">
                                No such sample
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit" form="scanBarcodeForm" class="btn btn-primary"
                            id="submitBtn">Move Sample
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}