{% extends 'storage_module/base.html' %}
{% load storage_module_extras %}

{% block extra_script %}
    <script>
        $(document).ready(function () {

            $('body').on('change', '#id_freezer', function () {
                var freezerId = $(this).val();

                $.ajax({
                    url: "/get_shelves/",
                    data: {
                        'freezer_id': freezerId
                    },
                    success: function (data) {
                        var select = $('#id_shelf');
                        console.log('data', data)
                        select.empty();
                        $.each(data, function (key, value) {
                            select.append($('<option></option>').attr('value', value.id).text(value.shelf_name));
                        });
                    }
                });

                $.ajax({
                    url: "/get_racks/",
                    data: {
                        'freezer_id': freezerId
                    },
                    success: function (data) {
                        var select = $('#id_rack');
                        console.log('get_racks', data)
                        select.empty();
                        $.each(data, function (key, value) {
                            select.append($('<option></option>').attr('value', value.id).text(value.rack_name));
                        });
                    }
                });
            });
            $('.select2').select2();
        });
    </script>

    <style>
        .select2-container--default .select2-selection--single {
            width: 465px !important; /* Set the width to your preference */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container py-3">
        <h1>Box Dashboard: {{ box.box_name }}</h1>

        {% if box.location.facility %}
            <ul class="list-group mt-3">
            <li class="list-group-item">
            <i class="fas fa-warehouse"></i>
            <a href="{% url 'facility_detail' box.location.facility.id %}">{{ box.location.facility.facility_name }}</a>
        {% endif %}
        {% if box.location.freezer %}
            <ul class="list-group">
            <li class="list-group-item">
            <i class="fas fa-snowflake"></i>
            <a href="{% url 'freezer_detail' box.location.freezer.id %}">{{ box.location.freezer.freezer_name }}</a>
        {% endif %}
        {% if box.location.shelf %}
            <ul class="list-group">
            <li class="list-group-item">
            <i class="fas fa-layer-group"></i>
            <a href="{% url 'shelf_detail' box.location.shelf.id %}">{{ box.location.shelf.shelf_name }}</a>
        {% endif %}
        {% if box.location.rack %}
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fas fa-box-open"></i>
                    <a href="{% url 'rack_detail' box.location.rack.id %}">{{ box.location.rack.rack_name }}</a>
                </li>
            </ul>
        {% endif %}
        {% if box.location.shelf %}
            </li>
            </ul>
        {% endif %}
        {% if box.location.freezer %}
            </li>
            </ul>
        {% endif %}
        {% if box.location.facility %}
            </li>
            </ul>
        {% endif %}

        <div class="modal fade" id="moveBoxModal" tabindex="-1"
             aria-labelledby="moveBoxModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form method="POST">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="moveBoxModalLabel">Move Box</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ move_box_form.freezer.label_tag }}
                                {{ move_box_form.freezer }}
                            </div>
                            <div class="form-group">
                                {{ move_box_form.shelf.label_tag }}
                                {{ move_box_form.shelf }}
                            </div>
                            <div class="form-group">
                                {{ move_box_form.rack.label_tag }}
                                {{ move_box_form.rack }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Move</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mt-3">
            <div class="d-flex mt-2 mb-3 input-group">
                <select class="custom-select" id="bulk-actions-dropdown" name="action"
                        required>
                    <option value="" selected>---Select Action---</option>
                    <option value="export">Export</option>
                    {% for status in sample_statuses %}
                        <option value="{{ status.id }}">
                            {{ status.name }}
                        </option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary ms-2">Apply</button>
                </div>
            </div>
            <div class="d-flex mt-2 mb-3">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#moveBoxModal">
                    Move Box
                </button>
            </div>

        </div>


        <h2>Sample Positions</h2>

        <ul class="list-group mt-3">
            <form method="post">
                <table class="table mt-2 table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th> <!-- This is for Y labels -->
                        {% for x in x_labels %}
                            <th scope="col">{{ x }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for y in y_labels %}
                        <tr>
                            <th scope="row">{{ y }}</th>
                            <!-- This is the Y label for each row -->
                            {% for x in x_labels %}
                                <td>
                                    {% for position in positions %}
                                        {% if position.x_position == forloop.parentloop.counter0 and position.y_position == y %}
                                            <input type="checkbox" name="sample_ids"
                                                   value="{{ position.sample.sample_id }}">
                                            <a class="text-center"
                                               href="{% url 'sample_detail' position.sample.sample_id %}">
                                                <i class="fas fa-vial"></i>
                                                {{ position.sample.sample_id }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </ul>
    </div>
{% endblock %}