{% extends 'storage_module/base.html' %}
{% load storage_module_extras %}

{% block extra_script %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {

            var table = $('#facilityTable').DataTable({
                dom: 'Bfrtip',
                paging: false,
                scrollCollapse: true,
                scrollY: '60vh',
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {"data": "col1"},
                    {"data": "col2"},
                    {"data": "col3"},
                    {"data": "col4"},
                    {"data": "col5"},
                ],
                "order": [[1, 'asc']]
            });


            $(document).on('click', '#facilityTable tbody td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    var linkHtml = $($.parseHTML(row.data().col1));
                    var link = linkHtml.filter('a').attr('href');
                    format(link, row);
                    tr.addClass('shown');
                }
            });


            $('#toggle-switch').change(function () {
                if (this.checked) {
                    $('#cards-container').hide();
                    $('#table-container').show();
                } else {
                    $('#table-container').hide();
                    $('#cards-container').show();
                }
            }).change();
        });

        /* Formatting function for row details */
        function format(rowData, row) {
            var div = $('<div/>').addClass('loading').text('Loading...');

            var link = rowData;

            var regex = /\/freezer\/(\d+)\//;
            var match = link.match(regex);
            var id = match ? match[1] : null;


            $.ajax({
                url: "/freezer_data/" + id + "/",   // Use id in the url
                dataType: 'json',
                success: function (json) {
                    div.html(json.html).removeClass('loading');
                    row.child(div).show();
                }
            });
            return div;
        }
    </script>

    <style>
        td.details-control {
            background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
        }

        .container {
            margin-left: 10rem;
            min-height: 100vh;
            margin: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 style="margin-top: 1rem; margin-bottom: 1rem">
            Facility: {{ object.facility_name }}</h2>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="toggle-switch">
            <label class="form-check-label" for="toggle-switch">Show Table</label>
        </div>
        <div id="table-container" class="table-responsive">
            {{ tableHTML|safe }}
        </div>

        <div id="cards-container" class="row">
            {{ cardsHTML|safe }}
        </div>
    </div>
{% endblock %}