{% extends 'storage_module/base_storage.html' %}

{% block page_content %}
    <table id="freezerTable" class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th>Stored Samples</th>
        </tr>
        </thead>

        <tbody>
        {% for item in inside_freezer %}
            <tr>
                <td>
                    <i class="{{ item.icon }}"></i>
                    <a href="{% url item.url item.id %}">{{ item.name }}</a>
                </td>
                <td>{{ item.capacity }}</td>
                <td>{{ item.stored_samples }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
