{% extends 'storage_module/base.html' %}

{% block title %}Samples{% endblock %}

{% block extra_script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const selectAllCheckbox = document.querySelector("#select_all");
            selectAllCheckbox.addEventListener("click", function () {
                const allCheckboxes = document.querySelectorAll(".select_sample");
                allCheckboxes.forEach(box => box.checked = selectAllCheckbox.checked);
            });

            $('#samples-table').DataTable({
                dom: 'Bfrtip',
                paging: false,
                scrollCollapse: true,
                scrollY: '60vh',
                columnDefs: [
                    {targets: 0, orderable: false},  // Disables sorting on the first column
                    {targets: 8, orderable: false},  // Disables sorting on the first column
                ],
                layout: {
                    topStart: {
                        buttons: [
                            {
                                extend: 'copy',
                                exportOptions: {
                                    columns: ':not(:first-child,:last-child)'  // Excludes the first and the last column from the export
                                }
                            },
                            {
                                extend: 'csv',
                                exportOptions: {
                                    columns: ':not(:first-child,:last-child)'  // Excludes the first and the last column from the export
                                }
                            },
                            {
                                extend: 'excel',
                                exportOptions: {
                                    columns: ':not(:first-child,:last-child)'  // Excludes the first and the last column from the export
                                }
                            },
                            {
                                extend: 'pdf',
                                exportOptions: {
                                    columns: ':not(:first-child,:last-child)'  // Excludes the first and the last column from the export
                                }
                            },
                            'print'
                        ],
                    }
                }
            });
        });
    </script>

    <style>
        .container {
            margin-left: 10rem;
            min-height: 100vh;
            margin: 0;
        }
        .fullscreen-form {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
            z-index: 9999;
            padding: 20px;
            display: flex;
            align-items: center;  /* centers the form vertically */
            justify-content: center; /* centers the form horizontally */
        }

        .fullscreen-form .card {
            width: 80%;  /* makes the form take 80% of the screen width */
        }

        .fullscreen-form form {
            background-color: white;
            padding: 20px;
            border-radius: 8px;  /* rounds corners of form */
        }

        .fullscreen-form table {
            width: 100%;
        }

        .fullscreen-form td {
            padding: 10px 0; /* add some vertical padding to form inputs */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Samples</h1>
        <form id="bulk-actions-form" method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-between mb-3">
                <div class="d-flex mr-5 input-group">
                    <select class="custom-select" id="bulk-actions-dropdown" name="action">
                        <option value="" selected>---Select Action---</option>
                        <option value="export">Export</option>
                        {% for status in sample_statuses %}
                            <option value="{{ status.id }}">
                                {{ status.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary ms-2">Apply</button>
                    </div>
                </div>
                <!-- Filters -->
                <div class="d-flex align-items-end gap-3">
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#advancedFilterForm" aria-expanded="false"
                            aria-controls="advancedFilterForm">
                        Advanced Filter
                    </button>
                </div>
            </div>
            <!-- Advanced Filter Form -->
            <div class="collapse fullscreen-form" id="advancedFilterForm">
                <div class="card card-body bg-light">
                    <h2 class="text-center mb-4">Advanced Filter Form</h2>
                    <form action="" method="GET" class="p-4 rounded bg-white shadow">
                        {{ advanced_filter_form.as_table }}
                        <input type="submit" class="btn btn-primary btn-block mt-4" value="Filter">
                    </form>
                </div>
            </div>
            <!-- Table -->
            <div class="table-responsive">
                <table id="samples-table" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            <input type="checkbox" id="select_all"/>
                        </th>
                        <th>Sample ID</th>
                        <th>Sample Type</th>
                        <th>Facility Name</th>
                        <th>Source File Name</th>
                        <th>Box Name</th>
                        <th>Time Sampled</th>
                        <th>Sample Status</th>
                        <th>Sample Dashboard</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sample in samples %}
                        <tr>
                            <td><input type="checkbox" class="select_sample"
                                       name="sample_id"
                                       value="{{ sample.sample_id }}"></td>
                            <td>{{ sample.sample_id }}</td>
                            <td>{{ sample.sample_type__sample_type }}</td>
                            <td>
                                <a
                                        {% if sample.box_position__box__freezer__facility__id %}
                                            href="{% url 'facility_detail' sample.box_position__box__freezer__facility__id %}" {% endif %}>{{ sample.box_position__box__freezer__facility__facility_name }}</a>
                            </td>
                            <td>{{ sample.source_file__source_file_name }}</td>
                            <td>
                                <a {% if sample.box_position__box__id %}
                                    href="{% url 'box_detail' sample.box_position__box__id %}" {% endif %}>
                                    {{ sample.box_position__box__box_name }}
                                </a>
                            </td>
                            <td>{{ sample.date_sampled }}</td>
                            <td id="sampleStatus{{ sample.sample_id }}">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle"
                                            type="button"
                                            id="dropdownSampleButton{{ sample.sample_id }}"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        {{ sample.sample_status__name }}
                                    </button>
                                    <ul class="dropdown-menu"
                                        aria-labelledby="dropdownSampleButton{{ sample.sample_id }}">
                                        {% for status in sample_statuses %}
                                            <li><a class="dropdown-item"
                                                   href="{% url 'samples_url' %}?sample_id={{ sample.sample_id }}&sample_status={{ status.id }}">{{ status.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <a href="{% url 'sample_detail' sample_id=sample.sample_id %}">Dashboard</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="9" class="text-center py-5">
                                <h2>No samples found</h2>
                                <p>We couldn't find any samples at the moment.</p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <!-- Table Footer -->
                    <tfoot>
                    <tr>
                        <td colspan="9">
                            <form class="form-inline mt-2" method="GET">
                                <label for="rowSelect" class="mr-2">Rows per page:</label>
                                <select class="form-control" id="rowSelect" name="rows"
                                        onchange="this.form.submit()">
                                    {% for number in rows_options %}
                                        <option value="{{ number }}"
                                                {% if request.POST.rows == number|stringformat:"s" %}selected{% endif %}>
                                            {{ number }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <!-- Pagination -->
            {% if samples %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- First Page Link -->
                        {% if samples.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo; First</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- Link to individual page -->
                        {% for i in samples.paginator.page_range %}
                            {% if samples.number == i %}
                                <li class="page-item active"><a class="page-link"
                                                                href="#">{{ i }}</a></li>
                            {% elif i > samples.number|add:"-3" and i < samples.number|add:"3" %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <!-- Last Page Link -->
                        {% if samples.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ samples.paginator.num_pages }}"
                                   aria-label="Last">
                                    <span aria-hidden="true">&raquo; Last</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

        </form>
    </div>
{% endblock %}