{% extends 'storage_module/base.html' %}

{% block extra_script %}
    <script>
        let url_template = "{% url 'facility_detail' '0000' %}";

        function nameFormatter(value, row) {
            let detail_url = url_template.replace('0000', row.id);
            return `<a href="${detail_url}">${value}</a>`;
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()

            var data = {{ facility_data | safe }};

            function toggleView(showCards) {
                if (showCards) {
                    $('#cards-container').hide();
                    $('#table-container').show();
                } else {
                    $('#table-container').hide();
                    $('#cards-container').show();
                }
            }

            toggleView(false);

            $('#toggle-switch').change(function () {
                toggleView($(this).prop('checked'));
            });

            $('#table').bootstrapTable({
                data: data,
            });

            function fitText(id) {
                var textElem = document.getElementById(id);
                var fontSize = 100;
                var containerWidth = textElem.parentElement.offsetWidth;

                while (textElem.offsetWidth > containerWidth && fontSize > 0) {
                    fontSize -= 1;
                    textElem.style.fontSize = fontSize + "%";
                }
            }

            let cardsHTML = '';
            data.forEach(function (row, i) {
                let detail_url = url_template.replace('0000', row.id);
                cardsHTML += `
                    <div class="card m-1" style="max-width: 500px">
                        <div class="card-body d-flex flex-row ">
                            <div class="d-flex align-items-center pe-2" style="width: 30%;">
                                <h5 id="myText-${i}" class="card-title">${row.facility_name}</h5>
                            </div>
                            <div class="d-flex flex-column w-75 border-start" style="width: 70%">
                                <div class="d-flex align-items-end justify-content-end">
                                    <a href="${detail_url}" class="btn btn-primary d-flex flex-row align-items-center justify-content-center">
                                        access
                                        <i class="cil-external-link ml-2"></i>
                                    </a>
                                </div>
                                <div class="d-flex flex-row  justify-content-around">
                                    <div class="d-flex flex-column align-items-center">
                                        <p>Box</p>
                                        <p>${row.boxes}</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <p>Samples</p>
                                        <p>${row.samples}</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <p>Uterlised</p>
                                        <p>${row.utilized_storage}%</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <p>Capacity</p>
                                        <p>${row.facility_capacity}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
            });

            $('#cards-container').html(cardsHTML);

            data.forEach(function (_, i) {
                fitText(`myText-${i}`);
            });
        })
    </script>

    <style>
        .container {
            margin-left: 10rem;
            min-height: 100vh;
            margin: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex mb-3">
            <h1>Storage Facilities</h1>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="toggle-switch">
            <label class="form-check-label" for="toggle-switch">Show Table</label>
        </div>
        <div id="table-container" class="table-responsive">
            <table id="table"
                   data-search="true"
                   data-search-on-enter-key="true"
                   data-search-text="" class="table table-striped mt-2">
                <thead class="thead-dark">
                <tr>
                    <th data-field="id">Facility ID</th>
                    <th data-field="facility_name" data-formatter="nameFormatter">Facility
                        Name
                    </th>
                    <th data-field="facility_capacity">Total Capacity (Samples) <i
                            class="fas fa-info-circle" data-toggle="tooltip"
                            data-placement="top"
                            title="The maximum number of samples that the facility can hold"></i>
                    </th>
                    <th data-field="utilized_storage">Utilized Storage (Samples) <i
                            class="fas fa-info-circle" data-toggle="tooltip"
                            data-placement="top"
                            title="The number of samples currently stored in the facility"></i>
                    </th>
                    <th data-field="available_capacity">Available Capacity (Samples)<i
                            class="fas fa-info-circle" data-toggle="tooltip"
                            data-placement="top"
                            title="The number of additional samples that the facility can still accommodate based on its total capacity"></i>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <div id="cards-container" class="row"></div>
    </div>
{% endblock %}
